.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

section.services-home {
    padding: 4.6rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(images/bg/bg-counter.jpg) no-repeat center center;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(images/bg/bg-counter.jpg) no-repeat center center;
    background-attachment: fixed;
}

.parallax-searchs.home15.thome-6 .hero-inner {
    text-align: center;
    padding: 290px 0;
}

.parallax-searchs.home15 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(images/bg/bg-15.jpg) no-repeat center top;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg/bg-15.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed !important;
    width: 100%;
    height: 90vh;
}

section.counterup {
    padding: 6rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(images/bg/bg-counter2.jpg) no-repeat center center;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(images/bg/bg-counter2.jpg) no-repeat center center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.bg-img3 {
    background-attachment: scroll;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(images/bg/video-poster2.png) no-repeat center top;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/bg/video-poster2.png) no-repeat center top;
    border-radius: 8px;
    height: 700px;
    position: relative;
    z-index: 99;
}

.homepage-2 .info-help.h18 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(images/bg/info-service3.jpg) no-repeat scroll center center;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(images/bg/info-service3.jpg) no-repeat scroll center center;
}

.homepage-3 .welcome-area {
    background: linear-gradient(-36deg, rgba(69, 40, 220, 0.8) 0%, rgba(135, 49, 232, 0.8) 100%), url(images/bg/video-poster2.png) no-repeat scroll center center/cover;
}

.homepage-3 .info-help.h17 {
    background: url(images/bg/bg-home-3.jpg) no-repeat scroll center center;
}

.bg-white-3 {
    background: url(images/bg/bg-white-3.png) 0 0 repeat !important;
}

.hp-6 .tab-content > .active {
    margin-top: 30px;
}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
	}
.tab-content > .active {
    display: block;
}

.tab-content > .active {
    display: block;
}

.tab-content > .tab-pane {
    display: none;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}


.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.homepage-3 .detailJC:after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 68px;
    height: 58px;
    background: url(images/icons/quoe.png) no-repeat center center/cover;
}

.homepage-4 .info-help {
    padding: 4.6rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(images/bg/bg-info3.jpg) no-repeat scroll center center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(images/bg/bg-info3.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 3;
}

.homepage-4 .welcome-area {
    background: rgba(0, 0, 0, 0) url("images/bg/bg-demo.jpg") no-repeat scroll center center/cover;
}

.homepage-5 .parallax-searchs.home17 {
    background: url(images/bg/bg-home-5.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: scroll !important;
    width: 100%;
    height: 85vh;
    position: relative;
    z-index: 99;
}

.homepage-5 .info-help.h18 {
    padding: 9rem 0;
    background: url(images/bg/bg-service-home-5.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 0 !important;
}

.homepage-5 .info-help.h17 {
    padding: 9rem 0;
    background: url(images/bg/bg-2-home-5.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 0 !important;
}

.parallax-search {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("images/bg/bg-demo.jpg") no-repeat center top;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg/bg-demo.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed !important;
    width: 100%;
    height: auto;
}

.th-10 .info-help.h17 {
    background: url(images/bg/bg-home-3.jpg) no-repeat scroll center center;
}

.int_dark_bg section.services-home {
    padding: 4.6rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/bg/bg-counter.jpg) no-repeat center center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/bg/bg-counter.jpg) no-repeat center center;
    background-attachment: fixed;
}

.bg-white-1 {
    background: url(images/bg/bg-pattern-dot.png) 0 0 repeat !important;
}

.parallax-searchs.home15 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("images/bg/bg-15.jpg") no-repeat center top;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg/bg-15.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed !important;
    width: 100%;
    height: 90vh;
}

.parallax-searchs.home15.thome-6 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(images/bg/thome-6.jpg) no-repeat center top;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg/thome-6.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed !important;
    width: 100%;
    height: 95vh;
    position: relative;
    z-index: 99;
}

.parallax-searchs.thome-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(images/bg/bg-h-1.jpg) no-repeat center top !important;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/bg/bg-h-1.jpg) no-repeat center top !important;
    background-size: cover;
    background-attachment: fixed !important;
    width: 100%;
    height: 95vh;
}

.info-help {
    padding: 6rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(images/bg/bg-info3.jpg) no-repeat scroll center center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(images/bg/bg-info3.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 3;
}

.parallax-searchs.home17 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("images/bg/home-17-2.jpg") no-repeat center top;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/bg/home-17-2.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed !important;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 99;
}

.info-help.h18 {
    padding: 9rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(images/bg/info-service4.jpg) no-repeat scroll center center;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(images/bg/info-service4.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 0 !important;
}

.info-help.h17 {
    padding: 9rem 0;
    background: url(images/bg/info-service6.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 0 !important;
}

.th-8 .header-image {
    background: url("images/bg/bg-home-8.jpg") no-repeat center top;
    background-attachment: scroll !important;
}

.header-image.home-18 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("images/bg/home-18.jpg") no-repeat center top;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/bg/home-18.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed !important;
    width: 100%;
    height: 100vh;
}

section.h18.testimonials {
    padding: 6rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 18, 68, 0.88)), to(rgba(14, 18, 68, 0.88))), url(images/bg/bg-testimonials.jpg) no-repeat scroll center center;
    background: linear-gradient(rgba(14, 18, 68, 0.88), rgba(14, 18, 68, 0.88)), url(images/bg/bg-testimonials.jpg) no-repeat scroll center center;
    background-size: cover;
}

section.breadcrumb-outer {
    padding: 12rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 18, 68, 0.3)), to(rgba(14, 18, 68, 0.3))), url(images/bg/home-171.jpg) no-repeat scroll center center;
    background: linear-gradient(rgba(14, 18, 68, 0.3), rgba(14, 18, 68, 0.3)), url(images/bg/home-171.jpg) no-repeat scroll center center;
    background-size: cover;
}

.inner-pages .headings {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 27, 34, 0.6)), to(rgba(18, 27, 34, 0.6))), url(images/bg/bg-details.jpg) no-repeat center center;
    background: linear-gradient(rgba(18, 27, 34, 0.6), rgba(18, 27, 34, 0.6)), url(images/bg/bg-details.jpg) no-repeat center center;
    width: 100%;
    height: 30vh;
}

.inner-pages.about .headings {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 27, 34, 0.6)), to(rgba(18, 27, 34, 0.6))), url(images/bg/bg-testimonials.jpg) no-repeat center center;
    background: linear-gradient(rgba(18, 27, 34, 0.6), rgba(18, 27, 34, 0.6)), url(images/bg/bg-testimonials.jpg) no-repeat center center;
}

.headings-7 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 44, 95, 0.7)), to(rgba(32, 51, 100, 0.7))), url(images/bg/coming-soon.jpg) no-repeat center top;
    background: linear-gradient(rgba(58, 44, 95, 0.7), rgba(32, 51, 100, 0.7)), url(images/bg/coming-soon.jpg) no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed !important;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.headings-8 {
    background: url(images/bg/bg-under.jpg) no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed !important;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.inner-pages .bgc {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 51, 100, 0.8)), to(rgba(32, 51, 100, 0.8))), url(images/bg/bg-testimonials-2.jpg) no-repeat center center;
    background: linear-gradient(rgba(32, 51, 100, 0.8), rgba(32, 51, 100, 0.8)), url(images/bg/bg-testimonials-2.jpg) no-repeat center center;
    padding: 2rem;
    background-size: cover;
}

#status, .status-mes {
    background-image: url(images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.pt-0, .py-0 {
    padding-top: 0!important;
}
.pr-2, .px-2 {
    padding-right: .5rem!important;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.mt-0, .my-0 {
    margin-top: 0!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
.h4, h4 {
    font-size: 1.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.inner-pages .blog .homes-content h5, .inner-pages .blog .property-location h5, .inner-pages .blog .team.assigned h5, .similar-property h5, .ag-de .blog-section h5, .inner-pages .carousel h5 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
h5 {
    color: #444;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.inner-pages .headings-2 .listing-title-bar h4 {
    font-size: 24px;
    font-weight: 600;
    color: #274abb;
    text-transform: capitalize !important;
}
.carousel-inner {
    position: relative;
    width: 100%;
    /*overflow: hidden;*/
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.listing-details-sliders .img-fluid {
    max-width: 100%;
    height: auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}

.inner-pages .blog .blog-info p.mb-3 {
    color: #666;
    font-weight: 400;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
p {
    line-height: 26px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
@media (min-width: 992px) {
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.text-info {
    color: #17a2b8!important;
}
b, strong {
    font-weight: bolder;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.h6, h6 {
    font-size: 1rem;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.text-warning {
    color: #ffc107!important;
}
.m-0 {
    margin: 0!important;
}
.list-inline-item {
    display: inline-block;
}
.form-control[readonly] {
    background: #fff;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.picker-input {
    cursor: text;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.td-input {
    cursor: pointer;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.inner-pages .form-control {
    padding: .7rem;
    border: 1px solid #dddddd;
}
.inner-pages .form-control {
    padding: .7rem;
    border: 1px solid #274abb;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}
.text-center {
    text-align: center!important;
}
.border-0 {
    border: 0!important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.schedule .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn {
    background: #fff;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
}

.btn.disabled, .btn:disabled {
    opacity: .65;
}
button[disabled], html input[disabled] {
    cursor: default;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.schedule .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn {
    background: #fff;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button {
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button {
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}