coverage
environ
Django
django-cors-headers
django-extensions
djangorestframework
djangorestframework-simplejwt
dnspython
email-validator
mailjet-rest
Pillow
pip-review
pipenv
prompt-toolkit
ptpython
psycopg2-binary>=2.7.4
Pygments
PyJWT
pytz
requests
sqlparse
tzdata
urllib3
virtualenv
virtualenv-clone
wcwidth
